<h4>TO JEST HEADER</h4>
<div>
  <div><%= link_to "Pacjenci", patients_path %></div>
  <div><%= link_to "Badania", surveys_path %></div>
<!--  <div><%#= link_to "Lekarze",  %></div>-->
  <div><%= link_to "Notatki", notes_path %></div>
</div>